
/*
fonts
font-family: 'Arvo', serif;
font-family: 'Lobster', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Rubik Mono One', sans-serif;
font-family: 'Jaldi', sans-serif;

*/


* {
	margin: 0;
	/*padding: 0;*/
	/*border: 2px dotted red;*/
}


div {
	padding: 8%;
}

.parallax {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

					/*HEAD*/
.head {
	background-image: url("pic_guy.png");
	background-color: #0c0015;
}
.head h1 {
	font-size: 18vw;	
	/*font-family: 'Arvo', serif;*/
	/*font-family: 'Lobster', cursive;*/
	/*font-family: 'Josefin Sans', sans-serif;*/
	font-family: 'Jaldi', sans-serif;
	line-height: 0.8;
	margin-bottom: 3vw;
	color: #f67500;
	mix-blend-mode: difference;
	/*letter-spacing: 20px;*/
}
.head h1.smaller {
	font-size: 10vw;
}
.head h3 {
	/*font-family: 'Arvo', serif;*/
	font-family: 'Lobster', cursive;
	/*font-family: 'Josefin Sans', sans-serif;*/
	/*font-family: 'Bangers';*/
	font-size: 3vw;
	text-align: right;
	color: #f67500;
	mix-blend-mode: difference;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .head h1 {
    font-size: 28vw;
  }
  .head h1.smaller {
  	font-size: 20vw;
  }
  .head h3 {
  	font-size: 5vw;
  }
}

					/*INTRO*/
.intro {
	background-color: #0c0015;
    align-content: center;
}
.bussola {
	padding: 3%;
	margin-bottom: 4%;

}
@keyframes bussola {
    0% {transform:rotateZ(0deg);}
    10% {transform:rotateZ(130deg);}
    20% {transform:rotateZ(60deg);}
    30% {transform:rotateZ(180deg);}
    40% {transform:rotateZ(-30deg);}
    50% {transform:rotateZ(30deg);}
    60% {transform:rotateZ(-90deg);}
    70% {transform:rotateZ(20deg);}
    80% {transform:rotateZ(-130deg);}
    90% {transform:rotateZ(30deg);}
    100% {transform:rotateZ(0deg);}
}
.bussola object {
	width: 40%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	animation-name: bussola;
	animation-duration: 20s;
	animation-iteration-count: infinite;
}
.intro h5 {
	/*font-family: 'Arvo', serif;*/
	/*font-family: 'Lobster', cursive;*/
	font-family: 'Josefin Sans', sans-serif;
	/*font-family: 'Banger';*/
	margin: 0 20%;
	font-size: 2vw;
	color: #dddddd;
}

@media only screen and (max-width: 620px){
	.bussola object {
		width: 60%
	}

	.intro h5 {
		margin: 0;
		font-size: 3vw;
	}
}

					/*CARTAS*/
.bg {
	background-image: url("pic_sky.png");
	padding: 5% 0;
	height: 100%/
}
.deck {
	padding: 0;
	margin: 0 auto;
	width: 90vw;
	display: grid;
	grid-gap: 3vw;
	/*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
	grid-template-columns: 28vw 28vw 28vw;
}

.carta {
	height: 26vw;
	display: inline-block;
	border-radius: 3vw;
	background-color: #0c0015;
	/*background-color: #ffffff;*/
	padding: 3vw;
	overflow: hidden;
}

.carta h5 {
	font-size: 4vw;
	/*font-family: 'Arvo', serif;*/
	font-family: 'Lobster', cursive;
	/*font-family: 'Josefin Sans', sans-serif;*/
	/*font-family: 'Bangers';*/
	color: white;
	margin-bottom: 1vw;
}
.carta h6 {
	font-size: 2vw;
	text-align: left;
	color: white;
	margin-bottom: 1vw;
	/*font-family: 'Arvo', serif;*/
	/*font-family: 'Lobster', cursive;*/
	font-family: 'Josefin Sans', sans-serif;
}
.carta p {
	font-size: 1vw;
	color: white;
	margin-bottom: 1vw;
	font-family: 'Arvo', serif;
	/*font-family: 'Lobster', cursive;*/
	/*font-family: 'Josefin Sans', sans-serif;*/
}
.carta:hover {
	border: 0.3vw solid #f0f0f0;
}

@media only screen and (max-width: 620px) {
	.deck {
		grid-template-columns: auto;
	}
	.carta {
		height: 92vw;
		width: 72vw;
		border-radius: 9vw;
		padding: 9vw;
	}
	.carta h5 {
		font-size: 12vw;
		margin-bottom: 3vw;
	}
	.carta h6 {
		font-size: 6vw;
		margin-bottom: 3vw;
	}
	.carta p {
		font-size: 3vw;
		margin-bottom: 3vw;
	}
}

					/*FOOTER*/
.footer {
	background-color: #0c0015;
}
.footer h5 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 2vw;
	color: #dddddd;
	text-align: center;
}

					/*CONTENT*/


.content {
	background-color: #0c0015;
	/*background-color: #bbbbbb;*/
	border-radius: 5vw;
	margin: 0 auto;
	display: block;
	width: 80%;
}

.content h1 {
	color: #f0f0f0;
	font-size: 15vw;
	/*font-family: 'Arvo', serif;*/
	font-family: 'Lobster', cursive;
	/*font-family: 'Josefin Sans', sans-serif;*/
	/*font-family: 'Bangers', cursive;*/
	margin-bottom: 5vw;
}

.content h2 {
	color: #f0f0f0;
	font-size: 5vw;
	font-family: "Josefin Sans", sans-serif;
	margin-bottom: 5vw;
}

.content p {
	color: #d0d0d0;
	font-size: 2vw;
	font-family: 'Josefin Sans', sans-serif;
	/*font-family: 'Arvo', serif;*/
	margin-bottom: 4vw;
	width: 70vw;
}

.content a {
	color: #0c0015;
	background-color: #d0d0d0;
	border-radius: 1vw;
	margin: 2vw;
	padding: 1vw;
	text-decoration: none;
}
.content a:hover {
	background-color: white;
}

/* CUSTOM SCROLL BAR xD */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #1d0f18; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #f67500; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fc8300; 
}