
/*
fonts
font-family: 'Do Hyeon', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lobster', cursive;
*/


* {
	/*margin: 0;*/
	/*padding: 0;*/
	/*border: 2px dotted red;*/
}

.intro {
	background-color: #1d0f18;
    background: linear-gradient(#0c0c10, black);
    align-content: center;
}

.bussola object {
	margin-left: auto;
	margin-right: auto;
	display: block;

}

/*CSS ANIMAÇÃO BUSSOLA*/
@keyframes example {
    0% {transform:rotateZ(0deg);}
    10% {transform:rotateZ(130deg);}
    20% {transform:rotateZ(60deg);}
    30% {transform:rotateZ(180deg);}
    40% {transform:rotateZ(-30deg);}
    50% {transform:rotateZ(30deg);}
    60% {transform:rotateZ(-90deg);}
    70% {transform:rotateZ(20deg);}
    80% {transform:rotateZ(-130deg);}
    90% {transform:rotateZ(30deg);}
    100% {transform:rotateZ(0deg);}
}
.bussola object {
	animation-name: example;
	animation-duration: 30s;
}



div {
	padding: 8%;
}

div.head {
	background-image: url("pic_guy.png");
	background-color: #1d0f18;

}

div.parallax {
	background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
	font-size: 300px;	
	font-family: 'Do Hyeon', sans-serif;
	line-height: 1.0;
	color: #f67500;
	mix-blend-mode: difference;
}

h1.smaller {
	font-size: 200px;
}

h3 {
	font-family: 'Lobster', cursive;
	font-size: 40px;
	text-align: right;
	color: #f67500;
	mix-blend-mode: difference;

}

h4 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 50px;
	text-align: center;
}

h5 {
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	color: #dddddd;
	padding: 3%;
	background-color: rgba(255,255,255,0);
	border-radius: 20px;
}

p {
	text-align: center;
}

.compass {
	padding: 0;
	overflow: hidden;
	margin: auto;
	width: 280px;
	height: 280px;
}

.deck {
	background-image: url("pic_torch.png");
	background-color: #809060;
}

.carta {
	width: 300px;
	height: 400px;
	display: inline-block;
	margin: 10px;
	border-radius: 20px;
}

.c-branca {
	background-color: white;
}

.cardPic {
	width: 100%;
	height: 180px;
}


/* CUSTOM SCROLL BAR xD */
/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #1d0f18; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #f67500; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fc8300; 
}